
extends layout

block scripts
	script(src="js/index.js")

block page
	h1 Welcome to the nightlife app
	form(action="/search", method="post").input-group#search-form
		input(type="text", name="query", placeholder="Where are you?").form-control#search-bar
		span.input-group-btn
			button(type="submit").btn.btn-secondary Search

	if results.businesses
		div.container.results-container
			each business in results.businesses
				div.container.business
					div.image-container
						a(href=business.url)
							img(src=business.image_url, alt=business.name).result-image
					div.results-details
						a(href=business.url)
							h4= business.name
						p= business.categories[0].title
						p= "Price: " + business.price
						p= "Address: " + business.location.address1
					div.results-going
						div.going
							p 0 Going
						if user.name
							button(type="submit", name="businessId", value=business.id).btn.btn-default.going-btn Count Me In!
						else
							button(type="button", data-toggle="tooltip", data-placement="top", title="You must sign in to RSVP").btn.btn-default Count Me In!
